Package: com.bi8bo.wechat.bubble
Name: WeChat Bubble
Version: 0.7.0
Architecture: iphoneos-arm64e
Description: Native RootHide text bubble silhouette styling MVP for WeChat 8.0.60.35.
Maintainer: Cueovo
Author: Cueovo
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
